<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
            <a href="{{ site.url }}/">
                <div class="logo-container" style="padding-left: 12px">
                    <div class="logo">
                        <img src="{{ site.url }}/assets/img/logo.jpg" alt="Manikanta Reddy D" rel="tooltip" title="Hello! Its Me."
                            data-placement="bottom" data-html="true">
                    </div>
                    <div class="logo-brand">
                        {{ site.logobrand }}
                    </div>
                </div>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navigation-index">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{site.url}}/about">
						<i class="material-icons">account_circle</i> About
					</a>
                </li>
                <li>
                    <a href="{{site.url}}/blog">
						<i class="material-icons">dashboard</i> Posts
					</a>
                </li>
                <li>
                    <a href="{{site.url}}/tags">
                        <i class="fa fa-tag"></i> Tags
                    </a>
                </li>
                {% comment %} <li>
                    <a rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank"
                        class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-twitter"></i>
					</a>
                </li>
                <li>
                    <a rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank"
                        class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-facebook-square"></i>
					</a>
                </li>
                <li>
                    <a rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial"
                        target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-instagram"></i>
					</a>
                </li> {% endcomment %}
            </ul>
        </div>
    </div>
</nav>